<?xml version = "1.0"?>
<Data>
  <window>
    <x>100</x>
    <y>100</y>

    <width>1280</width>
    <height>1024</height>

    <title>Rendering Equation Approximation</title>
  </window>


  <!-- Camera position -->
  <cam>
    <pos>0,4,8</pos>
    <towards>0,4,0</towards>
  </cam>


  <!-- basic light settings -->
  <light>
    <pos>0,7.0,0</pos>
    <dir>0,-1,0</dir>
    <!-- Set all of the number of radiosity iterations here -->
    <iterations>10000</iterations>
    <bounces>5</bounces>
    <Ld>1.0,1.0,1.0</Ld>
    <Ls>1.0,1.0,1.0</Ls>
    <La>1.0,1.0,1.0</La>
  </light>

  <perspective>
    <fov>75.0</fov>
    <nearClip>4.0</nearClip>
    <farClip>20</farClip>
  </perspective>

  <teapot>
    <objFile>resources/teapot/teapot.obj</objFile>
    <Kd>0.0,1.0,1.0</Kd>
    <Ks>0.0,1.0,1.0</Ks>
    <Ka>.1,.1,.1</Ka>
    <Ns>10.0</Ns>
  </teapot>

  <teapotShader>
    <vert>resources/teapot/prog.vert</vert>
    <frag>resources/teapot/prog.frag</frag>
  </teapotShader>

  <shadowShader>
    <vert>resources/shadowMap/prog.vert</vert>
    <frag>resources/shadowMap/prog.frag</frag>
    <geom>resources/shadowMap/prog.geom</geom>
  </shadowShader>
  <box>
    <shader>teapotShader</shader>
    <rowColNum>20</rowColNum>
    <width>8</width>
    <displace>0</displace>
    <left>
      <Kd>1.0,0.0,0.0</Kd>
      <Ks>1.0,0.0,0.0</Ks>
      <Ka>0.1,0.1,0.1</Ka>
      <Ns>10.0</Ns>
    </left>

    <right>
      <Kd>0.0,1.0,0.0</Kd>
      <Ks>0.0,1.0,0.0</Ks>
      <Ka>0.1,0.1,0.1</Ka>
      <Ns>10.0</Ns>
    </right>


    <ceil>
      <Kd>.7,.7,.7</Kd>
      <Ks>0.0,0.0,0.0</Ks>
      <Ka>0.1,0.1,0.1</Ka>
      <Ns>1.0</Ns>
    </ceil>

    <floor>
      <Kd>.7,.7,.7</Kd>
      <Ks>1.0,1.0,1.0</Ks>
      <Ka>0.1,0.1,0.1</Ka>
      <Ns>1.0</Ns>
    </floor>

    <back>
      <Kd>.7,.7,.7</Kd>
      <Ks>0.0,0.0,0.0</Ks>
      <Ka>0.1,0.1,0.1</Ka>
      <Ns>1.0</Ns>
    </back>

    <front>
      <Kd>.7,.7,.7</Kd>
      <Ks>1.0,1.0,1.0</Ks>
      <Ka>0.1,0.1,0.1</Ka>
      <Ns>1.0</Ns>
    </front>
  </box>

</Data>
