<?xml version = "1.0"?>
<Data>
<window>
  <x>100</x>
  <y>100</y>
  <width>800</width>
  <height>800</height>
  <title>Rendering Equation Approximation</title>
</window>


<teapot>
  <objFile>resources/teapot/teapot.obj</objFile>
  <shader>teapotShader</shader>
  <quads>true</quads>
</teapot>

<teapotShader>
  <vert>resources/teapot/prog.vert</vert>
  <frag>resources/teapot/prog.frag</frag>
</teapotShader>



<box>
  <objFile>resources/box.obj</objFile>
  <shader>boxShader</shader>
  <quads>false</quads>
</box>

<boxShader>
  <vert>resources/box/prog.vert</vert>
  <frag>resources/box/prog.frag</frag>
</boxShader>
