<?xml version = "1.0"?>
<GameData>
<!-- screenTitle is also used to identify you and your animation.
     So make sure to include your name as part of the screenTitle -->
<screenTitle>Angelo's Particle Wzrd Game</screenTitle>
<maxStringSize>50</maxStringSize>

<HUD>
  <fps>true</fps>
  <elapsedTime>true</elapsedTime>
  <lineCount>7</lineCount>
  <x>10</x>
  <y>10</y>
  <w>300</w>
  <h>300</h>
  <line_0>Controls:</line_0>
  <line_1> - wasd</line_1>
  <line_2>     - standard ctrl</line_2>
  <line_3> - left click </line_3>
  <line_4>     - 3 shot fire</line_4>
  <line_5> - right click</line_5>
  <line_6>     - fire ring</line_6>
</HUD>

<frameCapOn>true</frameCapOn>
<period>17</period>
<frameAvgMax>100</frameAvgMax>

<maxFrames>600</maxFrames>
<username>acarrab</username>

<view>
  <width>1280</width>
  <height>720</height>
  <margin>20</margin>
</view>

<world>
  <width>4000</width>
  <height>720</height>
</world>

<grass>
  <file>resources/images/parallax-forest-front-grass.png</file>
  <factor>1</factor>
  <transparency>true</transparency>
</grass>
<front>
  <file>resources/images/parallax-forest-front-trees.png</file>
  <factor>2</factor>
  <transparency>true</transparency>
</front>
<middle>
  <file>resources/images/parallax-forest-middle-trees.png</file>
  <factor>3</factor>
  <transparency>true</transparency>
</middle>
<back>
  <file>resources/images/parallax-forest-back-trees.png</file>
  <factor>4</factor>
  <transparency>true</transparency>
</back>

<font name="font">
  <file>resources/fonts/arial.ttf</file>
  <size>24</size>
  <red>255</red>
  <green>255</green>
  <blue>255</blue>
  <alpha>0</alpha>
</font>
<mouseCursor>
  <file>resources/images/mouseCursor.png</file>
  <transparency>true</transparency>
</mouseCursor>

<player>
  <file>resources/images/spinstar.png</file>
  <startLoc x="120" y="140"/>
  <frames>4</frames>
  <frameInterval>20</frameInterval>
  <speedX>-400</speedX>
  <speedY>200</speedY>
  <transparency>true</transparency>
</player>

<particle>
  <count>1000</count>
  <file>resources/images/particleSmaller.png</file>
  <startLoc x="10" y="10"/>
  <speedX>-200</speedX>
  <speedY>-175</speedY>
  <transparency>true</transparency>
</particle>

<wizard>
  <file>resources/images/BetterWizardRight.png</file>
  <gemCoords>resources/elementLocs/wizardRightStaffCoord.txt</gemCoords>
  <startLoc x="300" y="400"/>
  <frames>10</frames>
  <frameInterval>40</frameInterval>
  <speedX>150</speedX>
  <speedY>0</speedY>
  <transparency>true</transparency>
</wizard>

<wizardLeft>
  <file>resources/images/BetterWizardLeft.png</file>
  <gemCoords>resources/elementLocs/wizardLeftStaffCoord.txt</gemCoords>
  <startLoc x="0" y="500"/>
  <frames>10</frames>
  <frameInterval>40</frameInterval>
  <speedX>-100</speedX>
  <speedY>0</speedY>
  <transparency>true</transparency>
</wizardLeft>

<evilDude>
  <count>5</count>
  <file>resources/images/EvilDudeRight.png</file>
  <startLoc x="300" y="400"/>
  <frames>10</frames>
  <frameInterval>40</frameInterval>
  <speedX>150</speedX>
  <speedY>0</speedY>
  <transparency>true</transparency>
</evilDude>

<evilDudeLeft>
  <file>resources/images/EvilDudeLeft.png</file>
  <startLoc x="0" y="500"/>
  <frames>10</frames>
  <frameInterval>40</frameInterval>
  <speedX>-100</speedX>
  <speedY>0</speedY>
  <transparency>true</transparency>
</evilDudeLeft>

<magnet>
  <fireSpeed>300</fireSpeed>
  <rotation>1</rotation>
  <baseRadius>80</baseRadius>
  <particleSpacing>50</particleSpacing>
  <ringSpacing>30</ringSpacing>
  <dRadius>10</dRadius>
  <rotationScale>5</rotationScale>
</magnet>

<gem>
  <file>resources/images/charm.png</file>
  <speedX>200</speedX>
  <speedY>200</speedY>
  <transparency>true</transparency>
</gem>
